.app {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;

    .headline {
        margin: 0;
    }

    .subline {
        margin-bottom: 1.5rem;

        a {
            text-decoration: none;
            color: var(--active-color);
        }
    }

    .hint {
        margin-top: 1rem;

        &.hidden {
            visibility: hidden;
        }
    }

    .color {
        &-preview {
            width: 24rem;
            height: 16rem;
            border-radius: 1rem;
            box-shadow: 0 0 1rem 0.3rem rgba(0, 0, 0, 0.1);
            background-color: var(--active-color);
        }

        &-options {
            display: flex;
            justify-content: space-between;
            margin-top: 1.5rem;
            gap: 1rem;
            padding: 0 1rem;

            .color-option {
                padding: 1rem 1rem;
                border-radius: 0.5rem;
                border: 0.15rem solid rgba(0, 0, 0, 0.15);
                background-color: rgb(255, 255, 255);
                cursor: pointer;
                transition: box-shadow 0.2s, transform 0.2s, border 0.2s;
                width: 100%;
                box-shadow: 0 0.25rem 0.5rem 0.05rem rgba(0, 0, 0, 0.1);
                
                &:not(.color-option--disabled):hover, &--selected {
                    transform: translateY(-0.25rem);
                    box-shadow: 0 0.5rem 0.5rem 0.05rem rgba(0, 0, 0, 0.1);
                    border: 0.15rem solid rgba(0, 0, 0, 0.25);
                }

                &--correct {
                    background-color: rgb(106, 230, 106);
                }

                &--disabled {
                    cursor: default;
                }
            }
        }
    }
}
